<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni01CD</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>A.ss03</string>
		<string>Aacute.ss03</string>
		<string>Abreve.ss03</string>
		<string>Acircumflex.ss03</string>
		<string>Adieresis.ss03</string>
		<string>Agrave.ss03</string>
		<string>Amacron.ss03</string>
		<string>Aogonek.ss03</string>
		<string>Aring.ss03</string>
		<string>Atilde.ss03</string>
		<string>uni0410</string>
		<string>uni0410.ss03</string>
	</array>
	<key>public.kern1.A.ss02</key>
	<array>
		<string>A.ss02</string>
		<string>Aacute.ss02</string>
		<string>Abreve.ss02</string>
		<string>Acircumflex.ss02</string>
		<string>Adieresis.ss02</string>
		<string>Agrave.ss02</string>
		<string>Amacron.ss02</string>
		<string>Aogonek.ss02</string>
		<string>Aring.ss02</string>
		<string>Atilde.ss02</string>
		<string>uni041B.loclBGR</string>
		<string>uni0410.ss02</string>
		<string>uni041B.ss02</string>
	</array>
	<key>public.kern1.AE</key>
	<array>
		<string>AE</string>
		<string>OE</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>uni0421</string>
		<string>uni0404</string>
		<string>uni0404.ss03</string>
	</array>
	<key>public.kern1.Decy</key>
	<array>
		<string>uni0414</string>
		<string>uni0426</string>
		<string>uni0429</string>
		<string>uni0429.ss03</string>
		<string>uni0429.ss05</string>
		<string>uni0446</string>
		<string>uni0449</string>
	</array>
	<key>public.kern1.Decy.ss02</key>
	<array>
		<string>uni0414.loclBGR</string>
		<string>uni0414.ss02</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>E.ss03</string>
		<string>Eacute.ss03</string>
		<string>Ecaron.ss03</string>
		<string>Ecircumflex.ss03</string>
		<string>Edieresis.ss03</string>
		<string>Edotaccent.ss03</string>
		<string>Egrave.ss03</string>
		<string>Emacron.ss03</string>
		<string>Eogonek.ss03</string>
		<string>uni0415</string>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni0400.ss01</string>
		<string>uni0415.ss03</string>
		<string>uni0400.ss03</string>
		<string>uni0401.ss03</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>G.ss03</string>
	</array>
	<key>public.kern1.Gecy</key>
	<array>
		<string>uni0413</string>
		<string>uni0403</string>
	</array>
	<key>public.kern1.Gheupturncy</key>
	<array>
		<string>uni0490</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>N.ss01</string>
		<string>Nacute.ss01</string>
		<string>Ncaron.ss01</string>
		<string>uni0145.ss01</string>
		<string>Ntilde.ss01</string>
		<string>uni041D</string>
		<string>uni041F</string>
		<string>uni0427</string>
		<string>uni040F</string>
		<string>uni042B</string>
	</array>
	<key>public.kern1.Hardsigncy</key>
	<array>
		<string>uni042A</string>
	</array>
	<key>public.kern1.I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>uni0406</string>
		<string>uni0407</string>
	</array>
	<key>public.kern1.Iacy</key>
	<array>
		<string>uni042F</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>uni0416</string>
		<string>uni041A</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
	</array>
	<key>public.kern1.M</key>
	<array>
		<string>M</string>
		<string>M.ss03</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni040D</string>
		<string>uni041C</string>
		<string>uni0419.ss01</string>
		<string>uni040D.ss01</string>
		<string>uni0418.ss03</string>
		<string>uni0419.ss03</string>
		<string>uni040D.ss03</string>
		<string>uni041C.ss03</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>O.2</string>
		<string>O.3</string>
		<string>O.4</string>
		<string>Oacute.2</string>
		<string>Oacute.3</string>
		<string>Oacute.4</string>
		<string>Ocircumflex.2</string>
		<string>Ocircumflex.3</string>
		<string>Ocircumflex.4</string>
		<string>Odieresis.2</string>
		<string>Odieresis.3</string>
		<string>Odieresis.4</string>
		<string>Ograve.2</string>
		<string>Ograve.3</string>
		<string>Ograve.4</string>
		<string>Otilde.2</string>
		<string>Otilde.3</string>
		<string>Otilde.4</string>
		<string>D.ss01</string>
		<string>uni041E</string>
		<string>uni042D</string>
		<string>uni042E</string>
		<string>uni041E.2</string>
		<string>uni041E.3</string>
		<string>uni041E.4</string>
		<string>uni042D.ss01</string>
		<string>uni042E.ss01</string>
		<string>uni042D.ss03</string>
		<string>uni042E.ss03</string>
		<string>zero</string>
		<string>at</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
		<string>Thorn</string>
		<string>uni0420</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>S.ss03</string>
		<string>uni0405</string>
		<string>uni0405.ss03</string>
	</array>
	<key>public.kern1.S.ss01</key>
	<array>
		<string>S.ss01</string>
		<string>Sacute.ss01</string>
		<string>Scaron.ss01</string>
		<string>Scedilla.ss01</string>
	</array>
	<key>public.kern1.Shacy</key>
	<array>
		<string>uni0428</string>
		<string>uni0428.ss03</string>
		<string>uni0428.ss05</string>
		<string>uni0448</string>
	</array>
	<key>public.kern1.Softsigncy</key>
	<array>
		<string>uni042C</string>
		<string>uni0409</string>
		<string>uni040A</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>T.ss03</string>
		<string>uni0422</string>
		<string>uni0422.ss03</string>
	</array>
	<key>public.kern1.Tshecy</key>
	<array>
		<string>uni040B</string>
		<string>uni0402</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>J</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>U.ss01</string>
		<string>Uacute.ss01</string>
		<string>Ucircumflex.ss01</string>
		<string>Udieresis.ss01</string>
		<string>Ugrave.ss01</string>
		<string>Uhungarumlaut.ss01</string>
		<string>Umacron.ss01</string>
		<string>Uogonek.ss01</string>
		<string>Uring.ss01</string>
		<string>J.ss03</string>
		<string>U.ss03</string>
		<string>Uacute.ss03</string>
		<string>Ucircumflex.ss03</string>
		<string>Udieresis.ss03</string>
		<string>Ugrave.ss03</string>
		<string>uni0408</string>
	</array>
	<key>public.kern1.V.ss04</key>
	<array>
		<string>V.ss04</string>
		<string>W.ss04</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>W.ss03</string>
		<string>Wacute.ss03</string>
		<string>Wcircumflex.ss03</string>
		<string>Wdieresis.ss03</string>
		<string>Wgrave.ss03</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
		<string>uni0425</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>uni0423</string>
		<string>uni040E</string>
	</array>
	<key>public.kern1.Zecy</key>
	<array>
		<string>uni0417</string>
		<string>uni0417.ss03</string>
	</array>
	<key>public.kern1.ampersand</key>
	<array>
		<string>ampersand</string>
		<string>ampersand.ss03</string>
	</array>
	<key>public.kern1.bullet</key>
	<array>
		<string>bullet</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>equal</string>
	</array>
	<key>public.kern1.guillemetright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern1.parenleft</key>
	<array>
		<string>parenleft</string>
		<string>braceleft</string>
		<string>bracketleft</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern1.question</key>
	<array>
		<string>question</string>
		<string>question.ss01</string>
	</array>
	<key>public.kern1.quoteright</key>
	<array>
		<string>asterisk</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>degree</string>
		<string>uni02BC</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni01CD</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>A.ss03</string>
		<string>Aacute.ss03</string>
		<string>Abreve.ss03</string>
		<string>Acircumflex.ss03</string>
		<string>Adieresis.ss03</string>
		<string>Agrave.ss03</string>
		<string>Amacron.ss03</string>
		<string>Aogonek.ss03</string>
		<string>Aring.ss03</string>
		<string>Atilde.ss03</string>
		<string>uni0410</string>
		<string>uni0410.ss03</string>
	</array>
	<key>public.kern2.A.ss02</key>
	<array>
		<string>A.ss02</string>
		<string>Aacute.ss02</string>
		<string>Abreve.ss02</string>
		<string>Acircumflex.ss02</string>
		<string>Adieresis.ss02</string>
		<string>Agrave.ss02</string>
		<string>Amacron.ss02</string>
		<string>Aogonek.ss02</string>
		<string>Aring.ss02</string>
		<string>Atilde.ss02</string>
		<string>uni041B.loclBGR</string>
		<string>uni0410.ss02</string>
		<string>uni041B.ss02</string>
	</array>
	<key>public.kern2.Acy.ss04</key>
	<array>
		<string>uni0410.ss04</string>
	</array>
	<key>public.kern2.Checy</key>
	<array>
		<string>uni0427</string>
	</array>
	<key>public.kern2.Decy</key>
	<array>
		<string>uni0414</string>
	</array>
	<key>public.kern2.Decy.ss02</key>
	<array>
		<string>uni0414.loclBGR</string>
		<string>uni0414.ss02</string>
	</array>
	<key>public.kern2.E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>E.ss03</string>
		<string>Eacute.ss03</string>
		<string>Ecaron.ss03</string>
		<string>Ecircumflex.ss03</string>
		<string>Edieresis.ss03</string>
		<string>Edotaccent.ss03</string>
		<string>Egrave.ss03</string>
		<string>Emacron.ss03</string>
		<string>Eogonek.ss03</string>
		<string>uni0415</string>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni0400.ss01</string>
		<string>uni0415.ss03</string>
		<string>uni0400.ss03</string>
		<string>uni0401.ss03</string>
	</array>
	<key>public.kern2.Elcy</key>
	<array>
		<string>uni041B</string>
		<string>uni0409</string>
	</array>
	<key>public.kern2.Elcy.ss04</key>
	<array>
		<string>uni041B.ss04</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>F</string>
		<string>K</string>
		<string>uni0136</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni040D</string>
		<string>uni041A</string>
		<string>uni041D</string>
		<string>uni041F</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni040F</string>
		<string>uni040A</string>
		<string>uni0419.ss01</string>
		<string>uni040D.ss01</string>
		<string>uni0418.ss03</string>
		<string>uni0419.ss03</string>
		<string>uni040D.ss03</string>
		<string>uni0428.ss03</string>
		<string>uni0429.ss03</string>
		<string>uni0428.ss05</string>
		<string>uni0429.ss05</string>
	</array>
	<key>public.kern2.Hardsigncy</key>
	<array>
		<string>uni042A</string>
	</array>
	<key>public.kern2.I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>uni0406</string>
		<string>uni0407</string>
	</array>
	<key>public.kern2.Iacy</key>
	<array>
		<string>uni042F</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
		<string>J.ss03</string>
		<string>uni0408</string>
	</array>
	<key>public.kern2.M</key>
	<array>
		<string>M</string>
		<string>M.ss03</string>
		<string>uni041C</string>
		<string>uni041C.ss03</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>O.2</string>
		<string>O.3</string>
		<string>O.4</string>
		<string>Oacute.2</string>
		<string>Oacute.3</string>
		<string>Oacute.4</string>
		<string>Ocircumflex.2</string>
		<string>Ocircumflex.3</string>
		<string>Ocircumflex.4</string>
		<string>Odieresis.2</string>
		<string>Odieresis.3</string>
		<string>Odieresis.4</string>
		<string>Ograve.2</string>
		<string>Ograve.3</string>
		<string>Ograve.4</string>
		<string>Otilde.2</string>
		<string>Otilde.3</string>
		<string>Otilde.4</string>
		<string>B.ss01</string>
		<string>C.ss01</string>
		<string>Cacute.ss01</string>
		<string>Ccaron.ss01</string>
		<string>Ccedilla.ss01</string>
		<string>G.ss03</string>
		<string>uni0412</string>
		<string>uni041E</string>
		<string>uni0421</string>
		<string>uni0404</string>
		<string>uni042D</string>
		<string>uni041E.2</string>
		<string>uni041E.3</string>
		<string>uni041E.4</string>
		<string>uni0412.ss01</string>
		<string>uni0404.ss01</string>
		<string>uni0404.ss03</string>
		<string>zero</string>
		<string>at</string>
	</array>
	<key>public.kern2.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>S.ss03</string>
		<string>uni0405</string>
		<string>uni0405.ss03</string>
	</array>
	<key>public.kern2.S.ss01</key>
	<array>
		<string>S.ss01</string>
		<string>Sacute.ss01</string>
		<string>Scaron.ss01</string>
		<string>Scedilla.ss01</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>T.ss03</string>
		<string>uni0422</string>
		<string>uni040B</string>
		<string>uni0402</string>
		<string>uni0422.ss03</string>
		<string>uni040B.ss03</string>
		<string>uni0402.ss03</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>U.ss01</string>
		<string>Uacute.ss01</string>
		<string>Ucircumflex.ss01</string>
		<string>Udieresis.ss01</string>
		<string>Ugrave.ss01</string>
		<string>Uhungarumlaut.ss01</string>
		<string>Umacron.ss01</string>
		<string>Uogonek.ss01</string>
		<string>Uring.ss01</string>
		<string>U.ss03</string>
		<string>Uacute.ss03</string>
		<string>Ucircumflex.ss03</string>
		<string>Udieresis.ss03</string>
		<string>Ugrave.ss03</string>
	</array>
	<key>public.kern2.V.ss04</key>
	<array>
		<string>V.ss04</string>
		<string>W.ss04</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>W.ss03</string>
		<string>Wacute.ss03</string>
		<string>Wcircumflex.ss03</string>
		<string>Wdieresis.ss03</string>
		<string>Wgrave.ss03</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
		<string>uni0425</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>uni0423</string>
		<string>uni040E</string>
	</array>
	<key>public.kern2.Zecy</key>
	<array>
		<string>uni0417</string>
		<string>uni0417.ss03</string>
	</array>
	<key>public.kern2.Zhecy</key>
	<array>
		<string>uni0416</string>
	</array>
	<key>public.kern2.ampersand</key>
	<array>
		<string>ampersand</string>
		<string>ampersand.ss03</string>
	</array>
	<key>public.kern2.bullet</key>
	<array>
		<string>bullet</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>equal</string>
	</array>
	<key>public.kern2.guillemetleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern2.parenright</key>
	<array>
		<string>parenright</string>
		<string>braceright</string>
		<string>bracketright</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern2.question</key>
	<array>
		<string>question</string>
		<string>question.ss01</string>
	</array>
	<key>public.kern2.quoteright</key>
	<array>
		<string>asterisk</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>degree</string>
		<string>uni02BC</string>
	</array>
	<key>public.kern2.tsecy.ss04</key>
	<array>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
	</array>
</dict>
</plist>
