<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>8</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>D6EFD35F-CE8C-41CF-89A0-F080E420B0B8</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni01CD</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>J</string>
		<string>K</string>
		<string>uni0136</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>uni0218</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>O.2</string>
		<string>O.3</string>
		<string>O.4</string>
		<string>Oacute.2</string>
		<string>Oacute.3</string>
		<string>Oacute.4</string>
		<string>Ocircumflex.2</string>
		<string>Ocircumflex.3</string>
		<string>Ocircumflex.4</string>
		<string>Odieresis.2</string>
		<string>Odieresis.3</string>
		<string>Odieresis.4</string>
		<string>Ograve.2</string>
		<string>Ograve.3</string>
		<string>Ograve.4</string>
		<string>Ohungarumlaut.2</string>
		<string>Ohungarumlaut.3</string>
		<string>Ohungarumlaut.4</string>
		<string>Omacron.2</string>
		<string>Omacron.3</string>
		<string>Omacron.4</string>
		<string>Otilde.2</string>
		<string>Otilde.3</string>
		<string>Otilde.4</string>
		<string>B.ss01</string>
		<string>C.ss01</string>
		<string>Cacute.ss01</string>
		<string>Ccaron.ss01</string>
		<string>Ccedilla.ss01</string>
		<string>D.ss01</string>
		<string>E.ss01</string>
		<string>Eacute.ss01</string>
		<string>Ecaron.ss01</string>
		<string>Ecircumflex.ss01</string>
		<string>Edieresis.ss01</string>
		<string>Edotaccent.ss01</string>
		<string>Egrave.ss01</string>
		<string>Emacron.ss01</string>
		<string>Eogonek.ss01</string>
		<string>H.ss01</string>
		<string>K.ss01</string>
		<string>uni0136.ss01</string>
		<string>M.ss01</string>
		<string>N.ss01</string>
		<string>Nacute.ss01</string>
		<string>Ncaron.ss01</string>
		<string>uni0145.ss01</string>
		<string>Ntilde.ss01</string>
		<string>S.ss01</string>
		<string>Sacute.ss01</string>
		<string>Scaron.ss01</string>
		<string>Scedilla.ss01</string>
		<string>T.ss01</string>
		<string>Tbar.ss01</string>
		<string>Tcaron.ss01</string>
		<string>uni0162.ss01</string>
		<string>U.ss01</string>
		<string>Uacute.ss01</string>
		<string>Ucircumflex.ss01</string>
		<string>Udieresis.ss01</string>
		<string>Ugrave.ss01</string>
		<string>Uhungarumlaut.ss01</string>
		<string>Umacron.ss01</string>
		<string>Uogonek.ss01</string>
		<string>Uring.ss01</string>
		<string>V.ss01</string>
		<string>X.ss01</string>
		<string>A.ss02</string>
		<string>Aacute.ss02</string>
		<string>Abreve.ss02</string>
		<string>Acircumflex.ss02</string>
		<string>Adieresis.ss02</string>
		<string>Agrave.ss02</string>
		<string>Amacron.ss02</string>
		<string>Aogonek.ss02</string>
		<string>Aring.ss02</string>
		<string>Atilde.ss02</string>
		<string>V.ss02</string>
		<string>A.ss03</string>
		<string>Aacute.ss03</string>
		<string>Abreve.ss03</string>
		<string>Acircumflex.ss03</string>
		<string>Adieresis.ss03</string>
		<string>Agrave.ss03</string>
		<string>Amacron.ss03</string>
		<string>Aogonek.ss03</string>
		<string>Aring.ss03</string>
		<string>Atilde.ss03</string>
		<string>E.ss03</string>
		<string>Eacute.ss03</string>
		<string>Ecaron.ss03</string>
		<string>Ecircumflex.ss03</string>
		<string>Edieresis.ss03</string>
		<string>Edotaccent.ss03</string>
		<string>Egrave.ss03</string>
		<string>Emacron.ss03</string>
		<string>Eogonek.ss03</string>
		<string>G.ss03</string>
		<string>J.ss03</string>
		<string>M.ss03</string>
		<string>S.ss03</string>
		<string>T.ss03</string>
		<string>U.ss03</string>
		<string>Uacute.ss03</string>
		<string>Ucircumflex.ss03</string>
		<string>Udieresis.ss03</string>
		<string>Ugrave.ss03</string>
		<string>W.ss03</string>
		<string>Wacute.ss03</string>
		<string>Wcircumflex.ss03</string>
		<string>Wdieresis.ss03</string>
		<string>Wgrave.ss03</string>
		<string>A.ss04</string>
		<string>S.ss04</string>
		<string>V.ss04</string>
		<string>W.ss04</string>
		<string>W.ss01</string>
		<string>germandbls</string>
		<string>ordmasculine</string>
		<string>uni0410</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
		<string>uni0414</string>
		<string>uni0415</string>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni0416</string>
		<string>uni0417</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni040D</string>
		<string>uni041A</string>
		<string>uni040C</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041E</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0421</string>
		<string>uni0422</string>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni0424</string>
		<string>uni0425</string>
		<string>uni0427</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni040F</string>
		<string>uni042C</string>
		<string>uni042A</string>
		<string>uni042B</string>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni0405</string>
		<string>uni0404</string>
		<string>uni042D</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni0408</string>
		<string>uni040B</string>
		<string>uni042E</string>
		<string>uni042F</string>
		<string>uni0402</string>
		<string>uni041E.2</string>
		<string>uni041E.3</string>
		<string>uni041E.4</string>
		<string>uni0414.loclBGR</string>
		<string>uni041B.loclBGR</string>
		<string>uni0424.loclBGR</string>
		<string>uni0412.ss01</string>
		<string>uni0415.ss01</string>
		<string>uni0400.ss01</string>
		<string>uni0401.ss01</string>
		<string>uni0416.ss01</string>
		<string>uni0417.ss01</string>
		<string>uni0418.ss01</string>
		<string>uni0419.ss01</string>
		<string>uni040D.ss01</string>
		<string>uni041A.ss01</string>
		<string>uni040C.ss01</string>
		<string>uni041C.ss01</string>
		<string>uni041D.ss01</string>
		<string>uni041F.ss01</string>
		<string>uni0421.ss01</string>
		<string>uni0422.ss01</string>
		<string>uni0424.ss01</string>
		<string>uni0425.ss01</string>
		<string>uni040F.ss01</string>
		<string>uni0405.ss01</string>
		<string>uni0404.ss01</string>
		<string>uni042D.ss01</string>
		<string>uni042E.ss01</string>
		<string>uni0424.loclBGR.ss01</string>
		<string>uni0410.ss02</string>
		<string>uni0414.ss02</string>
		<string>uni041B.ss02</string>
		<string>uni0410.ss03</string>
		<string>uni0415.ss03</string>
		<string>uni0400.ss03</string>
		<string>uni0401.ss03</string>
		<string>uni0417.ss03</string>
		<string>uni0418.ss03</string>
		<string>uni0419.ss03</string>
		<string>uni040D.ss03</string>
		<string>uni041C.ss03</string>
		<string>uni0422.ss03</string>
		<string>uni0428.ss03</string>
		<string>uni0429.ss03</string>
		<string>uni0405.ss03</string>
		<string>uni0404.ss03</string>
		<string>uni042D.ss03</string>
		<string>uni0408.ss03</string>
		<string>uni040B.ss03</string>
		<string>uni042E.ss03</string>
		<string>uni0402.ss03</string>
		<string>uni0410.ss04</string>
		<string>uni041B.ss04</string>
		<string>uni0405.ss04</string>
		<string>uni0428.ss05</string>
		<string>uni0429.ss05</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>question.ss01</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>space</string>
		<string>.notdef</string>
		<string>dollar</string>
		<string>Euro</string>
		<string>sterling</string>
		<string>equal</string>
		<string>asciicircum</string>
		<string>percent</string>
		<string>at</string>
		<string>ampersand</string>
		<string>degree</string>
		<string>uni2116</string>
		<string>ampersand.ss03</string>
		<string>ampersand.ss04</string>
		<string>uni02BC</string>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni030B</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>acute</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>brevecombcy</string>
		<string>orn.001</string>
		<string>lava</string>
		<string>VTF</string>
	</array>
	<key>public.skipExportGlyphs</key>
	<array>
		<string>W.ss01</string>
		<string>orn.001</string>
	</array>
</dict>
</plist>
