@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

@font-face {
  font-family: "aa";
  src: url("../fonts/chunkfive/ChunkFive-Regular.otf");
}

@font-face {
  font-family: "bb";
  src: url("../fonts/pilowlava-master/Fonts/Pilowlava-Regular.otf");
}

.font-a {
  font-family: "aa";
}

.font-b {
  font-family: "bb";
}

.font-c {
  font-family: "Sixtyfour", sans-serif;
}
