* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  border: 3px solid black;
  margin: 50px;
  height: 500px;
  perspective: 1000px;
}

.box:hover .obj{
  /* transform: rotate(45deg); */
  transform: translate(0%);
}

.obj:hover {
  /* transform: translateX(0);
  filter: grayscale(100%); */
  /* transform: rotate(45deg); */
}

.obj {
  width: 300px;
  transform: translate(-100%);
  transition-duration: 300ms;
  /* transform: translateX(-90%); */

  /* transition-delay: 3000ms; */
  /* transition-duration: 1500ms;
  transition-property: all; */
  /* transition-timing-function: linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%); */

  /* 3d */
  /* transform: rotateY(30deg);
  transform-origin: 50% 50%; */

  /* transform: translateZ(-30px); */
  /* transform: scale3d(1.5); */

  /* 2D transform */
  /* transform: translateX(-30px) translateY(-50px); */
  /* transform: translate(30px,50px); */
  /* translate: 30px 50px; */

  /* transform: rotate(30deg); */
  /* rotate: 45deg; */

  /* transform: scale(0.3); */
  /* transform: scaleX(0.3); */
  /* transform: scaleY(0.3); */
  /* scale: ; */

  /* transform: skewY(30deg); */
}
