@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Padauk:wght@400;700&display=swap");
@import "./node_modules/sweetalert2/dist/sweetalert2.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
