<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A.ss03</key>
	<string>A_.ss03.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E.ss03</key>
	<string>E_.ss03.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>G.ss03</key>
	<string>G_.ss03.glif</string>
	<key>Hbar</key>
	<string>H_bar.glif</string>
	<key>J.ss03</key>
	<string>J_.ss03.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M.ss03</key>
	<string>M_.ss03.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.ss01</key>
	<string>N_.ss01.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>S.ss03</key>
	<string>S_.ss03.glif</string>
	<key>T.ss03</key>
	<string>T_.ss03.glif</string>
	<key>Tbar</key>
	<string>T_bar.glif</string>
	<key>U.ss03</key>
	<string>U_.ss03.glif</string>
	<key>V.ss02</key>
	<string>V_.ss02.glif</string>
	<key>V.ss04</key>
	<string>V_.ss04.glif</string>
	<key>W.ss03</key>
	<string>W_.ss03.glif</string>
	<key>W.ss04</key>
	<string>W_.ss04.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>ampersand.ss04</key>
	<string>ampersand.ss04.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni0302</key>
	<string>uni0302.glif</string>
	<key>uni0326</key>
	<string>uni0326.glif</string>
	<key>uni0327</key>
	<string>uni0327.glif</string>
	<key>uni0328</key>
	<string>uni0328.glif</string>
	<key>uni0402</key>
	<string>uni0402.glif</string>
	<key>uni0402.ss03</key>
	<string>uni0402.ss03.glif</string>
	<key>uni0404</key>
	<string>uni0404.glif</string>
	<key>uni0404.ss01</key>
	<string>uni0404.ss01.glif</string>
	<key>uni0404.ss03</key>
	<string>uni0404.ss03.glif</string>
	<key>uni0409</key>
	<string>uni0409.glif</string>
	<key>uni040A</key>
	<string>uni040A_.glif</string>
	<key>uni040B</key>
	<string>uni040B_.glif</string>
	<key>uni040B.ss03</key>
	<string>uni040B_.ss03.glif</string>
	<key>uni040F</key>
	<string>uni040F_.glif</string>
	<key>uni040F.ss01</key>
	<string>uni040F_.ss01.glif</string>
	<key>uni0411</key>
	<string>uni0411.glif</string>
	<key>uni0413</key>
	<string>uni0413.glif</string>
	<key>uni0414</key>
	<string>uni0414.glif</string>
	<key>uni0414.ss02</key>
	<string>uni0414.ss02.glif</string>
	<key>uni0416</key>
	<string>uni0416.glif</string>
	<key>uni0416.ss01</key>
	<string>uni0416.ss01.glif</string>
	<key>uni0417</key>
	<string>uni0417.glif</string>
	<key>uni0417.ss01</key>
	<string>uni0417.ss01.glif</string>
	<key>uni0417.ss03</key>
	<string>uni0417.ss03.glif</string>
	<key>uni0418</key>
	<string>uni0418.glif</string>
	<key>uni0418.ss01</key>
	<string>uni0418.ss01.glif</string>
	<key>uni0418.ss03</key>
	<string>uni0418.ss03.glif</string>
	<key>uni041B</key>
	<string>uni041B_.glif</string>
	<key>uni041B.ss02</key>
	<string>uni041B_.ss02.glif</string>
	<key>uni041B.ss04</key>
	<string>uni041B_.ss04.glif</string>
	<key>uni041F</key>
	<string>uni041F_.glif</string>
	<key>uni041F.ss01</key>
	<string>uni041F_.ss01.glif</string>
	<key>uni0424</key>
	<string>uni0424.glif</string>
	<key>uni0424.ss01</key>
	<string>uni0424.ss01.glif</string>
	<key>uni0426</key>
	<string>uni0426.glif</string>
	<key>uni0427</key>
	<string>uni0427.glif</string>
	<key>uni0428.ss03</key>
	<string>uni0428.ss03.glif</string>
	<key>uni0429</key>
	<string>uni0429.glif</string>
	<key>uni0429.ss03</key>
	<string>uni0429.ss03.glif</string>
	<key>uni0429.ss05</key>
	<string>uni0429.ss05.glif</string>
	<key>uni042A</key>
	<string>uni042A_.glif</string>
	<key>uni042B</key>
	<string>uni042B_.glif</string>
	<key>uni042C</key>
	<string>uni042C_.glif</string>
	<key>uni042D</key>
	<string>uni042D_.glif</string>
	<key>uni042D.ss01</key>
	<string>uni042D_.ss01.glif</string>
	<key>uni042D.ss03</key>
	<string>uni042D_.ss03.glif</string>
	<key>uni042E</key>
	<string>uni042E_.glif</string>
	<key>uni042E.ss01</key>
	<string>uni042E_.ss01.glif</string>
	<key>uni042E.ss03</key>
	<string>uni042E_.ss03.glif</string>
	<key>uni042F</key>
	<string>uni042F_.glif</string>
	<key>uni0446</key>
	<string>uni0446.glif</string>
	<key>uni0448</key>
	<string>uni0448.glif</string>
	<key>uni0449</key>
	<string>uni0449.glif</string>
	<key>uni0490</key>
	<string>uni0490.glif</string>
</dict>
</plist>
